---
import logo from "../assets/logo_450x200_azul_trans.png";
---

<header>
  <nav id="navbar">
    <a href="#Hero" class="logoNavbar">
      <img src={logo.src} alt="logo" class="logo" /></a
    >
    <a href="#AboutMe" class="linkNavbar"> About Me</a>
    <a href="#Skills" class="linkNavbar"> Skills</a>
    <a href="#Projects" class="linkNavbar"> Projects</a>
    <a href="#Certificates" class="linkNavbar"> Certificates</a>
    <a href="#Contact" class="linkNavbar"> Contact</a>
  </nav>
</header>

<script>
  // console.log("inicia");
  let indexSeccionActiva: string;
  const menu: any = document.getElementById("navbar");
  let menuIndicador = menu.querySelectorAll("a");
  const secciones = document.querySelectorAll("section");

  // console.log("menuIndicador", menuIndicador);
  menuIndicador.forEach((element: any) => {
    let linkId = element.hash.slice(1);

    // console.log("element", linkId);
  });

  // OBSERVER (HACE TRACK A LA PAGINA PARA MOVER EL INDICADOR DE BOTON)
  const observer: any = new IntersectionObserver(
    (entradas, observer) => {
      entradas.forEach((entrada) => {
        // console.log('id',entrada.target.id);
        if (entrada.isIntersecting) {
          // console.log("target", entrada.target);
          indexSeccionActiva = entrada.target.id;
          // console.log('menu activo',indexSeccionActiva)

          menuIndicador.forEach((element: any) => {
            // console.log('clase',element.classList)
            element.classList.remove("active");
            if (element.hash.slice(1) === indexSeccionActiva) {
              // console.log('linkactivo:D',element)
              element.classList.add("active");
            }
          });
        }
      });
    },
    {
      rootMargin: "-80px 0px 0px 0px",
      threshold: 0.2,
    }
  );
  //   observer.observe(document.getElementById("AboutMe"));
  // ASIGNAMOS EL OBSERVADOR A CADA UNA DE LAS SECCIONES
  secciones.forEach((seccion) => observer.observe(seccion));
</script>

<style>
  header {
    width: 80vw;
    margin: 30px auto;

    position: sticky;
    top: 20px;
    z-index: 10;
  }
  nav {
    /* margin: 30px 0; */
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 7px 10px 5px rgba(0, 0, 0, 0.2);
  }
  .linkNavbar {
    width: 18%;
  }
  .logo {
    width: auto;
    height: 60px;
  }
  a {
    /* width: 120px; */
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    line-height: 60px;
    font-size: 20px;
    /* box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.1); */
    text-align: center;
    text-decoration: none;
  }
  .active {
    border-bottom: 3px solid black;
  }
  @media screen and (max-width: 1024px) {
    nav {
      /* margin: 30px 0; */
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      border-radius: 15px;
      background: #fff;
      box-shadow: 0px 7px 10px 5px rgba(0, 0, 0, 0.2);
    }
    .logo {
      width: auto;
      height: 40px;
    }
    a {
      /* width: 120px; */
      height: 40px;
      background-color: rgba(255, 255, 255, 0);
      line-height: 40px;

      /* box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.1); */
      text-align: center;
      text-decoration: none;
    }
  }

  @media screen and (max-width: 768px) {
    header {
      width: 90vw;
    }
    a {
      font-size: 16px;
    }.linkNavbar {
    width: auto;
  }
  }

  @media screen and (max-width: 425px) {
    a {
      font-size: 12px;
      height: 30px;
      line-height: 30px;
    }
    .logo {
      width: auto;
      height: 30px;
    }
  }
  @media screen and (max-width: 320px) {
    header {
      width: 95vw;
    }
  .logo {
      width: auto;
      height: 25px;
    }

  }
</style>
